@{
  Layout = "_Layout";
}

@model PierresBakery.Models.Treat
@using PierresBakery.Models

<h3>@Model.Name <em>DETAILS</em></h3>
<hr>

@if (Model.JoinEntities.Count == 0)
{
  <p>There are no flavors assigned to this treat.</p>
}
else
{
  <h5>Flavors tagged:</h5>
  <ul>
  @foreach (FlavorTreat join in Model.JoinEntities)
  {
    <li>@Html.ActionLink($"{@join.Flavor.Description}", "Details", "Flavors", new { id = join.Flavor.FlavorId })</li>
    @using (Html.BeginForm("DeleteJoin", "Flavors"))
    {
      @Html.Hidden("joinId", @join.FlavorTreatId)
      @Html.Hidden("id", @Model.TreatId)
      <input type="submit" value="Remove Flavor" />
    }
  }
  </ul>
}
<hr>
<p>
@Html.ActionLink("Add Flavor to Treat", "AddFlavor", new { id = Model.TreatId })<br>
@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId })<br>
@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })<br>
@Html.ActionLink("Home", "Index", "Home")
</p>