@{
  Layout = "_Layout";
}

@model PierresBakery.Models.Treat

<h3><strong>EDIT:</strong> @Model.Name</h3>
<hr>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.DisplayNameFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  <input type="submit" value="Edit" />
}
<hr>
<p>
@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })<br>
@Html.ActionLink("Return to Details", "Details", new { id = Model.TreatId })<br>
@Html.ActionLink("Home", "Index", "Home")
</p>