@{
  Layout = "_Layout";
}

@model PierresBakery.Models.Flavor

<h4>Add a new flavor</h4>

@using (Html.BeginForm())
{
  @Html.DisplayFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)

  @Html.LabelFor(model => model.Treat)
  @Html.DropDownList("TreatId")

  <input type="submit" value="Add new flavor" />
}

<p>@Html.ActionLink("Flavor's list", "Index")<p>