@{
  Layout = "_Layout";
}

@model PierresBakery.Models.Flavor

<h4>Add a new flavor</h4>

<p>@Html.ValidationMessageFor(model => model.Description, "", new { @class="text-danger", @style="font-weight: 600"})</p>

@using (Html.BeginForm())
{
  @Html.DisplayFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)

  <input type="submit" value="Add new flavor" />
}

<p>@Html.ActionLink("Flavors list", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>