@{
  Layout = "_Layout";
}

@model PierresBakery.Models.Flavor

<h3><em>Edit</em>: @Model.Description</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.DisplayNameFor(model => model.Description)
  @Html.EditorFor(model => model.Description)

  <input type="submit" value="Edit" />
}

<br><p>@Html.ActionLink("Return to Details", "Details", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
